body {
    font-size: 20px;
    font-weight: 500;
    font-family: monospace;
}

.table-container {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #3498db;
}

th,
td {
    border: 1px solid #3498db;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

img {
    max-width: 150px;
    max-height: 200px;
    
}

tr:nth-child(even) {
    background-color: #ecf0f1;
}

@media (max-width: 768px) {

    th,
    td {
        font-size: 16px;
    }
}