body{
    background-color: greenyellow;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

#contenedor{
    background-color: yellow;
    margin-left: 5%;
    width: 90%;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px;
}
.encabezado{
    font-size: 20px;
    
}
.cantidad{
    color: #000000;
    margin-right: .5em;
    font-size: 25px;
    font-weight: bold;
}


#tamaño{
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: rgb(118, 160, 55);
    border: 1px solid green;
    border-radius: 10px;
    text-align: center;
}

#generar{
    background-color: greenyellow;
    border: none;
    padding: 1rem;
    margin-top: 50px;
    font-size: 20px;
    width: 300px;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
}

#combo{
    margin-top: 5%;
    width: 10em;
    text-align: center;
    height: 2em;
    border-radius: 1rem;
    background-color: rgb(118, 160, 55);
    border: 1px solid green;
}

#resultados{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 800px;
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 20px;
    background-color: greenyellow;
    color: black;
}

#resultados span{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

#pie{
    background-color: yellow;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}