/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header{
    background-color: #0e5a38;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header h2 {
    margin: 0;
    font-size: 18px;
}

section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

section header {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px dashed #0e5a38;
    border-radius: 5px;
}

hr {
    border: none;
    border-top: 1px solid  #0e5a38;
    margin: 20px 0;
    width: 100%;
}

.registro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.registro p {
    padding: 0 60px;
}
button {
    background-color: #f0f0f0;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
    height: 5%;
    border: 4px dashed #0e5a38;
    font-size: 20px;
}


/* Estilos para pantallas pequeñas (responsive) */
@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
    }

    input[type="number"],
    select {
        width: 100%;
        margin-right: 0;
    }

    button {
        width: 100%;
    }
}