header{
    background-color: #336699;
    color: white;
    padding: 20px;
}

p{
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 20px;
}

section{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}