
body{
  font-family: monospace;
  background-color: rgba(132, 183, 212, 0.584);
}

header h1 {
  font-size: 28px;
  text-align: center;
  color: #333; 
}

.layout {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.layout div {
  width: 24%; 
  text-align: center;
  background-color: #f0f0f0; 
  padding: 10px;
  border: 1px solid #ccc; 
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

button#btnIMC {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  cursor: pointer;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
}

.subtitulo{
  font-size: 15px;
}
