body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #9d9d9d;
    font-size: 35px;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    background: #3CA55C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B5AC49, #3CA55C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#btnCalcular {
    padding: 10px 20px;
    background-color: #25ee51;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos para dispositivos pequeños (móviles) */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    label,
    input,
    h3 {
        display: block;
        margin: 10px 0;
        font-size: 16px;
    }

    input[type="number"],
    input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    input[type="radio"] {
        margin: 10px;
    }
}

/* Estilos para dispositivos medianos y grandes (tabletas y escritorio) */
@media screen and (min-width: 601px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label,
    input,
    h3 {
        display: inline-block;
        margin: 5px;
        font-size: 18px;
    }

    input[type="number"],
    input[type="text"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 18px;
    }

    input[type="radio"] {
        margin: 5px;
    }

    #imgResultado {
        width: 300px;
        height: 450px;
    }
}